@font-face {
    font-family: RailwayB;
    src: url(fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: RailwayL;
    src: url(fonts/Raleway-Light.ttf);
}

@font-face {
    font-family: RailwayM;
    src: url(fonts/Raleway-Medium.ttf);
}

@font-face {
    font-family: RailwayR;
    src: url(fonts/Raleway-Regular.ttf);
}
