@mixin flex-row{
    display: flex;
    flex-direction: row;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}

@mixin flex-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flex-center-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin font-size-color($size, $color){
    font-size: $size;
    color: $color;
}

@mixin background-center-norepeat{
    background-repeat: no-repeat;
    background-position: center;
}
